.custom-background {
  background-color: #062236;
}

header {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #01111c;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #f5e16a;
  font-family: "Didot", serif;
  font-size: 25px;
  font-weight: bold;
  padding: 0 2px;
  border-bottom: 1px solid #f5e16a;
  border-top: 1px solid #f5e16a
}

footer {
  width: 100%;
  height: 50px;
  position: fixed;
  bottom: 0;
  background-color: #01111c;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #f5e16a;
  font-family: "Didot", serif;
  font-size: 40px;
  padding: 0 20px;
  border-bottom: 1px solid #f5e16a;
  border-top: 1px solid #f5e16a
}

.arrow {
  color: #f5e16a;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.arrow:hover {
  background-color: rgba(245, 225, 106, 0.3);
}

.fa {
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  color: #f5e16a;
}

/* Linkedin */
.fa-linkedin {
  color: white;
}

.fa-whatsapp {
  color: white;
  background-color: green;
}

.fa-envelope {
  color: white;
}

.icon-linkedin, .icon-whatsapp, .icon-email {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  margin-right: 10px;
  text-decoration: none;
}

.icon-linkedin {
  background-color: #0077B5;
}

.icon-whatsapp {
  background-color: green;
}

.icon-email {
  background-color: green;
}

.icon-linkedin:hover, .icon-whatsapp:hover, .icon-email {
  background-color: #005B8E;
}

.project {
  text-align: center;
  margin-top: 35px;
  padding-top: 20px;
  padding-left: 20px;
}

.project p {
  color: #f5e16a;
  font-size: 20px;
  text-align: left;
  margin: 10px;
  text-decoration-skip-ink: none;
  line-height: 1.2;
  font-family: "Didot", serif;
  font-weight: bold;
}

.project li {
  color: white;
  text-align: left;
  margin-left: 40px;
  font-size: 18px;
  font-family: "Didot", serif;
  font-weight: lighter;
}

.on-same-line {
  color: white;
  font-size: 18px;
  font-family: "Didot", serif;
  font-weight: lighter;
}

/* Media Queries for Mobile Devices */
@media only screen and (max-width: 600px) {
  header {
    font-size: 20px;
  }
  footer {
    font-size: 20px;
  }
  .project {
    padding-left: 0px;
  }
  .project p {
    font-size: 15px;
  }
  .project li {
    font-size: 15px;
    margin-left: 30px;
  }
  .on-same-line {
    font-size: 15px;
  }
}
