.custom-background {
  background-color: #062236;
}

.project {
  text-align: center;
}

.project h1 {
  color: white;
  font-size: 40px;
  text-align: center;
  text-decoration: underline;
}

.project p {
  color: white;
  font-size: 20px;
  text-align: left;
  margin: 10px;
  text-decoration: underline;
}

.project ul {
  color: white;
  text-align: left;
  list-style-type: disc; /* or other values like square, circle, etc. */
  list-style-position: inside;
  margin-left: 20px; /* adjust the margin as per your preference */
  margin-bottom: 10px; /* adjust the margin as per your preference */
  margin-top: -8px;
}

.project li {
  color: white;
  text-align: left;
  margin-left: 20px;
  font-size: 16px;
}
